body {
  background-color: beige;
}

/* main header design and layout */
.title {
  color: red;
  font-family: "Lucida Handwriting", cursive;
  font-style: italic;
  text-align: center;
}

p {
  font-family: verdana;
  font-size:20px;
  text-align: center;
}