body {
  background-color: beige;
}

/* main header design and layout */
.title {
  color: red;
  font-family: "Lucida Handwriting", cursive;
  font-style: italic;
  text-align: center;
}

.label-text {
  font-weight: bold
}

.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  width: 250px;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.primary-btn {
  background-color: darkgreen;
  color: white;
}

.section-title {
  margin-top: 20px;
  color: darkblue;
}

.result-box {
  border: 1px solid #ccc;
  padding: 10px;
  background: f9f9f9;
}

.wish-list-container {
  color: darkred;
  text-decoration: none;
}

.nav-link a {
  font-family: verdana;
  font-size:20px;
  text-align: center;
}