body {
  background-color: beige;
}

/* main header */
.title {
  color: red;
  font-family: "Lucida Handwriting";
  font-size: 45px;
  text-align: center;
}

/* text for input box */
.label-text {
  font-family: "Trebuchet MS";
  font-size: 20px;
  font-weight: bold;
}

/* input box */
.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  width: 250px;
}

/* message on home screen */
.info-text {
  font-family: "Trebuchet MS";
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.primary-btn {
  background-color: darkgreen;
  color: white;
}

.section-title {
  margin-top: 20px;
  color: whitesmoke;
  -webkit-text-stroke: 2px green;
  font-family: "Trebuchet MS";
  font-size: 35px;
  text-align: center;
}

.result-box {
  border: 1px solid #ccc;
  padding: 10px;
  background: f9f9f9;
  text-align: center;
}

/* container for input sections */
.input-area {
  width: 350px;       /* give it a fixed width */
  margin: 0 auto;     /* auto left/right margins center it */
  padding: 20px;
  background: beige;
  border-radius: 8px;
}

.wish-list-container {
  color: darkred;
  text-decoration: none;
  text-align: center;
}

/* for links to other pages */
.nav-link {
  font-family: "Trebuchet MS";
  font-size:20px;
  text-align: center;
}